.footer {
  max-width: 1200px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: rgba(50, 100, 50, 0.15);
  transform: translateX(-50%);
}

.footer > div {
  max-width: 350px;
}

.footer h3 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 20px 0 14px;
}

.footer a {
  color: var(--primary-color);
}

@media (max-width: 930px) {
  .footer > div {
    max-width: 250px;
  }
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
  }

  .footer > div {
    max-width: 420px;
  }
}
