.partner {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary-color);
  border-radius: 500px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.partner:hover {
  transform: translateY(-5px);
}

.partner.noBorder {
  border: 1px solid transparent;
}

.partner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1150px) {
  .partner {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 1006px) {
  .partner {
    width: 150px;
    height: 150px;
  }
}
