.image {
  width: 100vw;
  height: 100svh;
  object-fit: cover;
  object-position: 50% 0;
  perspective: 800px;
}

.landingImageWrapper {
  position: relative;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 75px;
  height: 75px;
  animation: down 2.5s infinite;
  transform: translateX(-50%);
}

@keyframes down {
  0% {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
  }
  15% {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  85% {
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
  }
}
