.album {
  margin-bottom: 100px;
}

.album .images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 10px;
}

.album img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.album img:hover {
  transform: translateY(-5px);
}

.album h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 600px;
  color: var(--gray-darker);
}

@media (max-width: 1040px) {
  .album .images {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 804px) {
  .album .images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 630px) {
  .album h2 {
    font-size: calc(1.2rem + 1.5vw);
  }
}

@media (max-width: 520px) {
  .album .images {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 5px;
  }
}

@media (max-width: 370px) {
  .album h2 {
    font-size: calc(1rem + 1.5vw);
  }
}
