.event {
  padding-block: var(--navbar-height) 100px;
  padding-inline: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.event img {
  width: 100%;
  max-height: 900px;
  object-fit: contain;
}

.event h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-block: 70px 10px;
  text-align: center;
}

.event .time {
  margin-bottom: 60px;
  text-align: center;
  font-size: 1.3rem;
}

.event .desc {
  margin-block: 60px;
  line-height: 1.4rem;
  font-size: 1rem;
}

.event .desc p {
  margin-bottom: 15px;
}

.event .desc a {
  color: var(--primary-color);
}

.event button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 0.9rem;
}

@media (max-width: 630px) {
  .event h1 {
    font-size: calc(0.8rem + 5.5vw);
    letter-spacing: calc(0.05rem + 0.7vw);
  }
  .event .time {
    font-size: calc(0.7rem + 1.5vw);
  }
}

@media (max-width: 370px) {
  .event h1 {
    font-size: calc(0.6rem + 5vw);
    letter-spacing: 0.1rem;
  }
  .event .time {
    font-size: 1rem;
  }
}

.eventError {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
